@import url('https://fonts.googleapis.com/css?family=Merriweather');

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* {
  font-family: 'Merriweather', serif;
}

header {
  background-color: #132639;
  padding: 10px 0;
}

h2 {
  text-align: center;
  color: #132639;
  font-weight: bold;
}

h2[class="title"] {
  text-transform: uppercase;
  color: #e6e6e6;
  font-weight: bold;
}

div[class="top_div"] {
  padding: 10px 0;
}

p, footer {
  font-size: 100%;
  color: #737373;
  text-align: center;
  padding: 0 5px;
}

div[class="top_hr"] {
  margin-left: 14px;
  width: 94%;
}

hr {
  border: 1px solid #132639;
}

hr[class="thick_hr"] {
  border: 2px solid #132639;
  margin-bottom: -3px;
}

hr[class="bottom_hr"] {
  width: 93%;
  margin-left: 14px;
}

fieldset {
  border: 0;
}

legend[class="form_headers"] {
  font-size: 140%;
  padding: 10px 0;
  font-weight: bold;
  color: #132639;
}

fieldset > label {
  border: 0;
  color: #737373;
}

::placeholder {
  color: #8c8c8c;
  text-align: right;
  font-style: italic;
}

legend[class="second_fieldset"] {
  color: #737373;
  margin-bottom: 5px;
}

input, select, textarea {
  margin: 10px 0;
}

input[type="text"], textarea, select, button {
  border: 0;
  border-radius: 5px 5px 5px 5px;
  background-color: #e6e6e6;
  color: #737373;
  width: 90%;
  height: 50px;
  padding: 0 20px;
}

select {
  padding-left: 10px;
  width: calc(90% + 39.5px);
}

option, optgroup {
  color: #737373;
}

input[id="zip"] {
  width: 40%;
}

input[type="text"]:focus, select:focus, textarea:focus {
  outline: none;
  border: 2px solid #132639;
}

input[type="text"] {

}

textarea {
  height: 100px;
}

button {
  outline: none;
  background-color: #00b38f;
  width: 101%;
  max-width: 674px;
  height: 50px;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 120%;
  color: #e6e6e6;
}

button:hover, input[type="radio"]:hover, input[type="checkbox"]:hover {
  cursor: pointer;
}

button:active {
  background-color: #00cca3;
}

fieldset[class="max_size"] {
  display: none;
  /* visibility: hidden; */
}

@media (min-width: 768px) {
  main {
    margin: auto;
  }
  form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }
  fieldset[class="default"] {
    display: none;
  }
  fieldset[class="max_size"] {
    display: block;
    /* visibility: visible; */
    width: 94%;
  }
  input[type="text"] {
    padding: 0px 20px;
    width: 43.40%;
  }
  select {
    padding: 0px 20px;
    max-width: 324px;
    width: 49.75%;
  }
  .max_size label {
    margin-top: 22px;
    float: left;
    width: 50%;
  }
  input[type="text"]:focus {
    width: 40.561%;
  }
  button {
    width: 98.7%;
  }
  input[id="zip"] {
    width: 18%;
  }
  input[id="zip"]:focus {
    width: 18%;
  }
  textarea:focus {
    width: 89%;
  }
  button[type="submit"] {
    max-width: 655px;
  }
  hr[class="bottom_hr"] {
    width: 92.85%;
    /* max-width: 645px; */
  }
  textarea {
    width: 615px;
  }
}
