extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Zane Chandy

        p.lead.text-light
          | Full Stack Web Developer.

        .portfolio-bio
          p I was born in Illinois and raised in Florida. I am 26 years old and I have been programming for more than 2 years now. Through my journey I have learned a vast amount about computers and how they work.
          p I have developed an extraordinary skillset that can help you and your company create a product that can revolutionize the market you're in and help you gain leverage over your competition. It is absolutely essential in today's world to have a website for your business and to sell your product online. 
          p On the right, you can see my skills and links to my other pages that can prove to you why I am qualified to be at your service. Let's work together on your next big break!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Node
          li React
          li Git
          li Sass 
          li C++
        h6 Contact Info

        ul
          li 772-224-1514
          li zanechandy@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/zane-chandy-03ba56160/',target='_blank') LinkedIn
        a.button.expanded(href='https://www.github.com/Zandy12',target='_blank') GitHub
        a.button.expanded(href='https://www.stackoverflow.com/users/11323258/zane-c', target='_blank') Stack Overflow
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  